<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="cssForm">
        Entregar em
        <form [formGroup]="paymentForm" (ngSubmit)="submitForm(paymentForm)">
            <div>
                <div class="cssAddress">
                    <ion-input placeholder="" type="text" formControlName="address" placeholder="Ex: Rua 00, Bairro-Cidade"></ion-input>
                </div>
            <div class="title"> <h4>Resumo do Pedido:</h4> </div>
                <ion-grid>
                    <ion-row>
                        <div class="subtitle"> <h6> Subtotal </h6> </div>
                            <div class="subtotal"> <h6> R$99,00</h6> </div>
                    </ion-row>
                    <ion-row>
                        <div class="subtitle"> Taxa de Entrega: </div>
                            <div class="taxa"> R$10,00 </div>
                    </ion-row>
                </ion-grid>
            <div class="title">
                <h4>Total:</h4>
                    <div class="price"> R$109,00 </div>
            </div>
                <ion-list>
                    <ion-radio-group formControlName="formOfPayment" value="formOfPayment">
                     <h5>Forma de Pagamento:</h5>
                        <ion-item>
                          <ion-label>Dinheiro</ion-label>
                          <ion-radio mode="md" slot="start" value="dinheiro"></ion-radio>
                        </ion-item>

                        <ion-item>
                          <ion-label>Boleto</ion-label>
                          <ion-radio mode="md" slot="start" value="boleto"></ion-radio>
                        </ion-item>

                        <ion-item>
                          <ion-label>Crédito</ion-label>
                          <ion-radio mode="md" slot="start" value="crédito"></ion-radio>
                        </ion-item>

                  </ion-radio-group>
                </ion-list>

                    <ion-card>
                        <ion-input placeholder="Número do Cartão" type="text" formControlName="numberCard"></ion-input>
                        <ion-input maxlength="4" placeholder="Validade" type="text" formControlName="validity"></ion-input>
                        <p *ngIf="paymentForm.controls.validity.invalid && paymentForm.controls.validity.touched"> 4 caracteres obrigatórios </p>
                        <ion-input maxlength="3" placeholder="CVV" type="text" formControlName="cvv"></ion-input>
                        <p *ngIf="paymentForm.controls.cvv.invalid && paymentForm.controls.cvv.touched"> 3 caracteres obrigatórios </p>
                        <ion-input placeholder="Nome do Titular" type="text" formControlName="name"></ion-input>
                        <ion-input placeholder="CPF/CNPJ do titular" type="text" formControlName="cpfOrCnpj"></ion-input>
                    </ion-card>

            <div class="cpfForm">
                <div class="cpfTitle"> <h5>CPF/CNPJ na nota</h5><h6>(Opcional)</h6> </div>
                <div>
                    <ion-input type="text" name="cpf" formControlName="cpf" placeholder="CPF/CNPJ" [brmasker]="{person: true}" placeholder="Ex.: 000.000.000-00"></ion-input>
                </div>
            </div>
            </div>
            <div class="buttonMargin">
                <ion-button type="submit" class="button" shape="round" [disabled]="paymentForm.invalid">CONFIRMAR</ion-button>
            </div>
        </form>
        </div>
</ion-content>
