ion-toolbar{
    height: 7vh;
}
#cssForm{
    margin: 5% 10% 5% 10%;
}
.cssAddress{

}

.title{
    margin: 6% 0 6% 0;
}
.subtitle{
    margin: 2% 0 2% 0;
}
.subtotal {
    margin: 0 0 0 56%;
}
.taxa{

}

.total{

}
