/*.border{
    border: 1px solid red;
}*/

.text{
    text-align: end;
    padding:0%;
}
.descricao{
    font-size: 0.85em;
}
.margin{
    margin-top: 20%;
}

.marginbottom{
    margin-bottom: 0%;
}

.margintop{
    margin-top: 0%;
}

ion-button{
    --background: #FFE55B;
    color: #84013F;
    font-weight: bolder;
}
